body {
   
    font-family:Arial, Helvetica, sans-serif;
    color: #665544;
    padding: inherit;
    font-family: 'Fondamento', cursive;
}


 .container {
     border: 1px solid #665544;
     background-color: #efefef;
     padding: auto;
     margin: 20px 5px;
     font-family: 'Fondamento', cursive;
     
    
    
    }
     
h2{
    font-size: 25px;
    margin-left: 15px;
}
.container1 {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:#383838;
    color: white;
    text-align: center;
    font-family: 'Fondamento', cursive;
    margin: auto;
    padding: auto;
}

.container2 {
  margin: 0 auto;
  margin-top: 50px;
  width: 1000px;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.25em;

}

p.paragraph {
    /* padding: 10px; */
    margin:20px;
}

#p2{
    margin-top: 15px;

}
.card{
    padding: auto;
    margin: auto;

}
#social{
   float: left; 
   margin-left: 10px;
}
.cardbody1{
    color: black;
}
  
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    margin: auto;
    padding: auto;
}


@media screen and (max-width: 600px) {
    .topnav a {
      float: none;
      width: 100%;
    }
}